<header class="bg-blue-600 text-white shadow-md">
    <nav class="max-w-6xl mx-auto flex justify-between items-center px-6 py-4">

        <h1 class="text-2xl font-bold">
            Welcome
        </h1>

        <div class="flex items-center gap-4">

            <a href="/" class="<%= currentPage==='index' ?'text-red-700':'hover:text-gray-200'%> transition duration-300">
                Airbnb
            </a>    
    <a href="/homes" class="<%= currentPage==='Home' ?'text-red-700':'hover:text-gray-200'%> transition duration-300">
                Homes-list
            </a>

            <a href="/bookings" 
              class="<%= currentPage==='bookings' ?'text-red-700':'hover:text-gray-200'%> transition duration-300">
                bookings
            </a>
            
            <a href="/favourite-list" 
              class="<%= currentPage==='favourite-list' ?'text-red-700':'hover:text-gray-200'%> transition duration-300">
                favourite-list
            </a>
            
            <a href="/home-details" 
              class="<%= currentPage==='home-details' ?'text-red-700':'hover:text-gray-200'%> transition duration-300">
               home-details
            </a>
                 <a href="/home-list" 
              class="<%= currentPage==='home-list' ?'text-red-700':'hover:text-gray-200'%> transition duration-300">
               home-list
            </a>
            <a href="/reserve" 
              class="<%= currentPage==='reserve' ?'text-red-700':'hover:text-gray-200'%> transition duration-300">
               reserve  
            </a>
              <a href="/host/host-home-list" 
              class="<%= currentPage==='host-home-list' ?'text-red-700':'hover:text-gray-200'%> transition duration-300">
                host Home list
            </a>
        </div>
            <a href="/host/add-home" 
              class="<%= currentPage==='addHome' ?'text-red-700':'hover:text-gray-200'%> transition duration-300">
                Add Home
            </a>
        </div>

    </nav>
</header>